.gridwrapper {
  margin: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.5fr));
  /* grid-gap: 1rem; */
}

.cardwrapper {
  padding: 1rem;
}

.nores {
  margin: 2rem 6rem;
}

@media screen and (max-width: 760px) {
  .gridwrapper {
    margin: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .nores {
    margin: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .gridwrapper {
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .nores {
    margin: 1rem;
  }
}

@media screen and (max-width: 280px) {
  .gridwrapper {
    margin: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .nores {
    margin: 1rem;
  }
}
