.favRecipe {
  display: flex;
  flex-direction: column;
}

.favRecipe p {
  margin: 2rem auto;
}

.removeAllFav {
  min-width: 5rem;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 14px;
  margin: 2rem auto;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.removeAllFav:hover {background-color: #4c4c4c}

.removeAllFav:active {
  background-color: #4c4c4c;
  transform: translateY(4px);
}
